!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn-images.mailchimp.com/embedcode/classic-081711.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
  body!= body