body{font-family:"museo-sans",sans-serif;font-size:13px;background:url(http://static.tumblr.com/h3aw40n/KGtkopm5f/background.jpg) top left fixed;color:#000000;}
#container{width:550px;margin:0 auto;padding-top:50px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration:none;color:#00b7ff;}
a:hover{text-decoration:underline;}
a img,img{border:none;}
#header{text-transform:uppercase;margin:25px 0 0 0;padding:0 0 2px 0;}
#header a{color:#000000;}
#header h1{margin:0px 0px 0px -2px;}
#header a:hover{text-decoration:none;color:#FFFFFF;}
#header{float:right;}
#logo{float:left;}
div#clearfix,li#clearfix{clear:both;list-style-type:none;border:none;}
#header h1{font-size:3em;}
body{background:#683b20 url('http://static.tumblr.com/h3aw40n/KGtkopm5f/background.jpg');}
#twitter_div{background-image:url(http://static.tumblr.com/h3aw40n/giskhqyi3/twitter.png);}
#flickr{background-image:url(http://static.tumblr.com/h3aw40n/BRMkhqyh4/flickr.png);}
.tag:before,.search_query:before{content:'“';}
.tag:after,.search_query:after{content:'”';}
#mc_embed_signup{clear:left;font-size:13px;font-family:"museo-sans",sans-serif;}
#mc_embed_signup .button{background-color:#1c69b1;}
#mc_embed_signup .asterisk{color:#1c69b1;}
.footer{text-align:center;font-family:"museo-sans",sans-serif;}
.footer img{width:55px;height:55px;}
